name: 打包并推送docker镜像

on:
  push:
    branches: [ "main" ]  # 监听 main 分支的推送，如果是 master 请修改为 master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: geekane2025
          password: dckr_pat_UgiPQPX67P793T9FGpG1KKOu7Jg

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: geekane2025/aiclient-2-api:latest
